.block
  .content
    %h2.title Welcome
    .inner
      %ul{:class => "list"}
        %li
          .left
            = image_tag "tomato.jpg"
          .item
            %p I just
            %p had
            %p to
            %p write
            %p something
            %p here
          
- content_for :sidebar do
  .block.notice
    %h4 Info
    - if current_user
      %p
        Username:
        = current_user.username
      %p
        First Name:
        = current_user.first_name
      %p
        Last Name:
        = current_user.last_name
    - else
      %p You have to login.