!!!html
%html
  %head
    %title Tomato Soup
    = stylesheet_link_tag "web_app_theme"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          = link_to "Tomato Soup", root_path
      #box
        = yield